@using IssueTracker.Web.Helpers
@model object

<script type="text/javascript">
	var root = window.IssueTracker || (window.IssueTracker = {});
	root.selectedIssue = createNestedObservables(@Html.Raw(Json.Encode(Model)));
</script>

<div class="wrapper">
	<div class="container notop details-header">
		<div class="breadcrumbs">
			<a class="clickable" data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues' }">
				<i class="fa fa-home"></i>
				<span data-bind="text: IssueTracker.selectedProject().name"></span>
			</a>
			<i class="fa fa-angle-right"></i>
			<a>
				<span data-bind="text: 'Issue #' + IssueTracker.selectedIssue.number()"></span>
			</a>
		</div>

		<div class="issue-buttons">
			<img id="transition-loader" class="hidden" src="@Url.Content("~/Images/ajax-loader.gif")" alt="" data-bind="css: { hidden: !IssueTracker.Transitioner.transitioning() }" />
			<div class="transitions" data-bind="visible: IssueTracker.selectedIssue.transitions().length > 0, foreach: IssueTracker.selectedIssue.transitions">
				@Html.IconButton("", "fa-angle-right", "right", dataBind: "attr: { 'data-status-id': toId, disabled: IssueTracker.Transitioner.transitioning }", labelDataBind: "text: name", isRight: true)
			</div>
			<div class="always">
				@Html.IconButton("Duplicate Issue", "fa-copy", id: "duplicate-issue")
				@Html.IconButton("Delete Issue", "fa-trash-o", id: "delete-issue")
			</div>
		</div>
	</div>

	<div class="container name-and-number-wrapper">
		<div class="name-container perspective" data-bind="attr: { class: 'name-container perspective ' + IssueTracker.selectedIssue.priority().toLowerCase() }">
			<div class="flipper transition name">
				<div class="tile flip-tile front">
					<div>
						<h1 class="number" data-bind="text: '#' + IssueTracker.selectedIssue.number()"></h1>
						<div class="description">
							<input type="text" class="description" data-bind="value: IssueTracker.selectedIssue.description" />
						</div>
					</div>
				</div>
				<div class="tile flip-tile back">
					<div class="back-container">
						<div class="input-container">
							<div>
								<input type="text" data-bind="value: IssueTracker.selectedIssue.description" />
							</div>
						</div>
						<div class="buttons">
							<button id="discard-name">Discard</button>
							<button id="save-name">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container details-wrapper">
		<div class="description">
			<div class="perspective">
				<div class="flipper transition">
					<div class="tile flip-tile front">
						<h3>What's the problem?</h3>
						<div data-bind="text: IssueTracker.selectedIssue.comments"></div>
						<div class="down-arrow">
							<i class="fa fa-angle-down"></i>
						</div>
					</div>

					<div class="tile flip-tile back">
						<textarea data-bind="value: IssueTracker.selectedIssue.comments"></textarea>
						<div class="buttons">
							<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
							<button id="save-description">Save</button>
							<button id="discard-description">Discard</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="details-container perspective">
			<div class="flipper transition">
				<div class="tile flip-tile front selectable-details details">
					<div class="selectable" id="milestone">
						<span class="title">Milestone</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" id="selected-milestone" data-bind="text: IssueTracker.selectedIssue.milestone"></span>
					</div>
					<div class="selectable" id="priority">
						<span class="title">Priority</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" id="selected-priority" data-bind="text: IssueTracker.selectedIssue.priority"></span>
					</div>
					<div class="selectable" id="status">
						<span class="title">Status</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.status"></span>
					</div>
					<div class="selectable">
						<span class="title">Developer</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.developer"></span>
					</div>
					<div class="selectable">
						<span class="title">Tester</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.tester"></span>
					</div>
					<div>
						<span class="title">Date Opened</span>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.opened"></span>
					</div>
					<div>
						<span class="title">Date Closed</span>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.closed"></span>
					</div>
				</div>
				<div class="tile flip-tile back" data-bind="template: { name: IssueTracker.IssueDetails.chooser.template, data: IssueTracker }"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="priority-chooser">
	<div class="priority-chooser chooser" data-bind="foreach: priorities">
		<div data-bind="attr: { 'data-priority': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.priorityId() }">
			<span data-bind="attr: { class: 'colour ' + name.toLowerCase() }"></span>
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="status-chooser">
	<div class="status-chooser chooser" data-bind="foreach: statuses">
		<div data-bind="attr: { 'data-status': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.statusId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>