@using IssueTracker.Web.Helpers
@model object

<script type="text/javascript">
	var root = window.IssueTracker || (window.IssueTracker = {});
	root.selectedIssue = createNestedObservables(@Html.Raw(Json.Encode(Model)));
</script>

<div class="wrapper">
	<div class="container notop details-header">
		<div class="breadcrumbs">
			<a class="clickable" data-bind="attr: { href: '#/' + IssueTracker.selectedProject().name.formatForUrl() + '/issues' }">
				<i class="fa fa-home"></i>
				<span data-bind="text: IssueTracker.selectedProject().name"></span>
			</a>
			<i class="fa fa-angle-right"></i>
			<a>
				<span data-bind="text: 'Issue #' + IssueTracker.selectedIssue.number()"></span>
			</a>
		</div>

		<div class="issue-buttons">
			<img id="transition-loader" class="hidden" src="@Url.Content("~/Images/ajax-loader.gif")" alt="" data-bind="css: { hidden: !IssueTracker.Transitioner.transitioning() }" />
			<div class="transitions" data-bind="visible: IssueTracker.selectedIssue.transitions().length > 0, foreach: IssueTracker.selectedIssue.transitions">
				@Html.IconButton("", "fa-angle-right", "right", dataBind: "attr: { 'data-status-id': toId, disabled: IssueTracker.Transitioner.transitioning }", labelDataBind: "text: name", isRight: true)
			</div>
			<div class="always">
				@Html.IconButton("Save Changes", "fa-check", id: "save-changes", dataBind: "css: { loading: saving }")
				@Html.IconButton("Delete Issue", "fa-trash-o", id: "delete-issue")
			</div>
		</div>
	</div>

	<div class="container name-and-number-wrapper">
		<div class="name-container" data-bind="attr: { class: 'name-container perspective ' + IssueTracker.selectedIssue.priority().toLowerCase() }">
			<h1 class="number" data-bind="text: '#' + IssueTracker.selectedIssue.number()"></h1>
			<div class="description">
				<input type="text" class="description no-focus" data-bind="value: IssueTracker.selectedIssue.description" />
			</div>
		</div>
	</div>

	<div class="container details-wrapper">
		<div class="description">
			<textarea placeholder="Comments..." class="no-focus" data-bind="value: IssueTracker.selectedIssue.comments"></textarea>
		</div>

		<div class="details-container perspective">
			<div class="flipper transition horizontal">
				<div class="tile flip-tile front selectable-details details">
					<div class="selectable" id="milestone">
						<span class="title">Milestone</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" id="selected-milestone" data-bind="text: IssueTracker.selectedIssue.milestone"></span>
					</div>
					<div class="selectable" id="priority">
						<span class="title">Priority</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" id="selected-priority" data-bind="text: IssueTracker.selectedIssue.priority"></span>
					</div>
					<div class="selectable" id="status">
						<span class="title">Status</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.status"></span>
					</div>
					<div class="selectable" id="developer">
						<span class="title">Developer</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.developer"></span>
					</div>
					<div class="selectable" id="tester">
						<span class="title">Tester</span>
						<i class="fa fa-angle-down"></i>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.tester"></span>
					</div>
					<div>
						<span class="title">Date Opened</span>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.opened"></span>
					</div>
					<div>
						<span class="title">Date Closed</span>
						<span class="info" data-bind="text: IssueTracker.selectedIssue.closed"></span>
					</div>
				</div>
				<div class="tile flip-tile back" data-bind="template: { name: IssueTracker.IssueDetails.chooser.template, data: IssueTracker }"></div>
			</div>
		</div>
	</div>
</div>

<script type="text/html" id="milestone-chooser">
	<div class="milestone-chooser chooser" data-bind="foreach: milestones">
		<div data-bind="attr: { 'data-milestone': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.milestoneId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="priority-chooser">
	<div class="priority-chooser chooser" data-bind="foreach: priorities">
		<div data-bind="attr: { 'data-priority': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.priorityId() }">
			<span data-bind="attr: { class: 'colour ' + name.toLowerCase() }"></span>
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="status-chooser">
	<div class="status-chooser chooser" data-bind="foreach: statuses">
		<div data-bind="attr: { 'data-status': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.statusId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="developer-chooser">
	<div class="developer-chooser chooser" data-bind="foreach: users">
		<div data-bind="attr: { 'data-developer': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.developerId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="tester-chooser">
	<div class="tester-chooser chooser" data-bind="foreach: users">
		<div data-bind="attr: { 'data-tester': JSON.stringify($data) }, css: { selected: $data.id == IssueTracker.selectedIssue.testerId() }">
			<div>
				<div>
					<span class="name" data-bind="text: name"></span>
					<i class="fa fa-check"></i>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/html" id="confirm-delete">
	<div class="confirm-delete confirmation-dialog">
		<h1>Delete this issue?</h1>
		<span class="warning"><b>WARNING:</b> This action is irreversible.</span>
		<span>Once deleted, all comments, history and attached files will be removed. Are you sure you want to continue?</span>
		<div class="confirm-container">
			<button id="confirm-delete" data-bind="css: { loading: loading }">Delete Issue</button>
		</div>
		<div>
			<button id="cancel-delete">Cancel</button>
		</div>
	</div>
</script>