@model IssueTracker.Web.Controllers.RootModel

@using System.Web.Optimization
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Unnamed Issue Tracker</title>
	
	@Styles.Render("~/style")

	@Html.Partial("~/Views/Shared/Scripts.cshtml")
	
	<script type="text/javascript">
		$(function () {
			var root = window.IssueTracker || (window.IssueTracker = {});
			root.virtualDirectory = ko.observable("@Url.Content("/")");
			root.priorities = ko.observableArray(@Html.Raw(Json.Encode(Model.Priorities)));
			root.statuses = ko.observableArray(@Html.Raw(Json.Encode(Model.Statuses)));
			root.users = ko.observableArray(@Html.Raw(Json.Encode(Model.Users)));
			root.transitions = ko.observableArray(@Html.Raw(Json.Encode(Model.Transitions)));
			root.projects = ko.observableArray(@Html.Raw(Json.Encode(Model.Projects)));
			root.milestones = ko.observableArray(@Html.Raw(Json.Encode(Model.Milestones)));
			root.issueTypes = ko.observableArray(@Html.Raw(Json.Encode(Model.Types)));
			root.selectedProject = ko.observable(@Html.Raw(Json.Encode(Model.SelectedProject)));
			root.signedInUser = ko.observable(IssueTracker.Utilities.createPropertyObservables(@Html.Raw(Json.Encode(Model.SignedInUser))));
			root.selectedIssue = ko.observable();
			IssueTracker.Init.init();
		});
	</script>
</head>
	<body>
		@Html.Partial("~/Views/Shared/Header.cshtml")
		<section class="content" data-bind="remoteTemplate: view"></section>
		
		<div class="popup">
			<div class="arrow top left">
				<div></div>
			</div>
			<div class="content" data-bind="html: popup"></div>
			<div class="arrow bottom left">
				<div></div>
			</div>
		</div>

		<div class="dialog" data-bind="html: dialog"></div>
		<div class="overlay"></div>
		
		<div class="global-feedback">
			<i class="fa fa-warning"></i>
			<i class="fa fa-check"></i>
			<div>
				<span></span>
				<i class="fa fa-times"></i>
			</div>
		</div>
	</body>
</html>
