@model IssueTracker.Web.Controllers.RootModel

@using System.Web.Optimization
@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<title>Unnamed Issue Tracker</title>
	
	@Styles.Render("~/style")

	@Html.Partial("~/Views/Shared/Scripts.cshtml")
	
	<script type="text/javascript">
		$(function () {
			var root = window.IssueTracker || (window.IssueTracker = {});
			root.virtualDirectory = ko.observable("@Url.Content("/")");
			root.priorities = ko.observableArray(@Html.Raw(Json.Encode(Model.Priorities)));
			root.statuses = ko.observableArray(@Html.Raw(Json.Encode(Model.Statuses)));
			root.users = ko.observableArray(@Html.Raw(Json.Encode(Model.Users)));
			root.transitions = ko.observableArray(@Html.Raw(Json.Encode(Model.Transitions)))
			root.projects = ko.observableArray(@Html.Raw(Json.Encode(Model.Projects)));
			root.selectedProject = ko.observable(@Html.Raw(Json.Encode(Model.SelectedProject)));
			root.signedInUser = ko.observable(@Html.Raw(Json.Encode(Model.SignedInUser)));
			root.selectedIssue = ko.observable();
			IssueTracker.Init.init();
		});
	</script>
</head>
	<body>
		@Html.Partial("~/Views/Shared/Header.cshtml")
		<section class="content" data-bind="remoteTemplate: view"></section>
		
		<div class="popup dialog">
			<div class="arrow top left">
				<div></div>
			</div>
			<div class="content" data-bind="html: popup"></div>
			<div class="arrow bottom left">
				<div></div>
			</div>
		</div>

		<div class="serious dialog">
			<h1 class="default"></h1>
			<i class="fa fa-times"></i>
			<div class="arrow top left">
				<div></div>
			</div>
			<div class="loading">
				<div>
					<img src="@Url.Content("~/Images/ajax-loader.gif")" alt="" />
				</div>
			</div>
			<div class="content" data-bind="html: dialog"></div>
			<div class="arrow bottom left">
				<div></div>
			</div>
		</div>
		
		<script id="priority-filter-dialog" type="text/html">
			<div class="select-dialog priority-filter-dialog" data-bind="foreach: priorities">
				<div>
					<div data-bind="text: Name, attr: { 'data-priority': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedPriority() && IssueTracker.Issues.selectedPriority().Name == Name ? ' selected' : '') }"></div>
				</div>
			</div>
		</script>

		<script id="status-filter-dialog" type="text/html">
			<div class="select-dialog status-filter-dialog" data-bind="foreach: statuses">
				<div>
					<div data-bind="text: name, attr: { 'data-status': JSON.stringify($data), class: name.toLowerCase() + (IssueTracker.Issues.selectedStatus() && IssueTracker.Issues.selectedStatus().name == name ? ' selected' : '') }"></div>
				</div>
			</div>
		</script>

		<script id="assignee-filter-dialog" type="text/html">
			<div class="select-dialog assignee-filter-dialog" data-bind="foreach: users">
				<div>
					<div data-bind="text: Name, attr: { 'data-assignee': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedAssignee() && IssueTracker.Issues.selectedAssignee().Name == Name ? ' selected' : '') }"></div>
				</div>
			</div>
		</script>

		<script id="owner-filter-dialog" type="text/html">
			<div class="select-dialog owner-filter-dialog" data-bind="foreach: users">
				<div>
					<div data-bind="text: Name, attr: { 'data-owner': JSON.stringify($data), class: Name.toLowerCase() + (IssueTracker.Issues.selectedOwner() && IssueTracker.Issues.selectedOwner().Name == Name ? ' selected' : '') }"></div>
				</div>
			</div>
		</script>

		<script id="text-filter-dialog" type="text/html">
			<div class="text-filter-dialog">
				<input type="text" data-bind="value: $root" />
				<div class="buttons">
					<button class="set-filter">Filter</button>
					<button class="clear-filter">Clear</button>
				</div>
			</div>
		</script>
	</body>
</html>
